# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a4c021b67f2f6a3f8050237
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a4c021b67f2f6a3f8050237
